.element{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.element .img-product{
    width: 30%;
    margin-right: 50px;
    
}
.element .img-s{
    display: flex;
    justify-content: space-between;
    
}
.element .small{
    width: 24%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.prop-product h2{
    margin-top: 0px !important;
}
@media (max-width:799px){
    .element .img-product{
        width: 100%;
    }
    .prop-product{
        width: 100%;
        
    }
    
}